<%- include('partials/header') %>

<script src="/js/patientAfterLogin.js" type="module"></script>
<link rel="stylesheet" href="/css/patientAfterLogin.css">

<style>
  .bd-example-modal-lg .loadingModal{
    text-align: center;
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

  .bd-example-modal-lg .loadingModal .loadingContent{
    background-color: transparent;
    border: none;
  }

/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 47px;
	height: 17px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 22px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #16a085;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

</style>

  <body>
    <%- include('partials/navbar') %>
    <div class="container" style="text-align: center; width: 75%;margin-top: 50px;">
      <div class="row">
        <div class="col">
          <button id="showDiabetesDatabtn" class="btn btn-primary">Show Diabetes Records</button>
        </div>
        <div class="col">
          <button id="showHeartDatabtn" class="btn btn-primary">Show Heart Disease Records</button>
        </div>
      </div>
    </div>
</div>

    <div style="text-align: center;">
      <% let checked= sharingState? "checked": "" %>
      <br>
      <input type="checkbox"  id="allowSharing" name="checkbox" class="cm-toggle" <%= checked %>><span style="position: relative;bottom: 2px;">Allow sharing of results</span>
    </div>
   
    <% if(diabetesData.length===0){ %>
      <div class="alert alert-info" role="alert" style="text-align:center">
        There are no diabetes records!
      </div>
    <% } else{ %> 
      <div class="row">
        <div class="col-12">
          <table id="diabetesContentTable" class="table ">
            <thead class="thead-dark">  
              <tr>
                <td colspan="10" style="text-align:center;">
                  <b>Diabetes Data</b>
                </td>
              </tr>
              <tr style="text-align:center;">
                <th>Test no</th>
                <th>Date and Time</th>
                <th>Pregnancy</th>
                <th>Glucose</th>
                <th>Blood Pressure</th>
                <th>Skin Thickness</th>
                <th>Insulin</th>
                <th>BMI</th>
                <th>Pedigree Function</th>
                <th>Test Diabetes</th>
                <!-- <th>Try another model</th> -->
              </tr>  
            </thead> 
  
            <% for (var i =0; i < diabetesData.length;  i++ ) { %>
              <tr style="text-align:center;">
                <td><%= i+1 %></td>
                <% if(diabetesData[i].testTimings===""){ %>
                  <td><img src="/images/clock.png" alt="Yet to be done" class="clock"></td>
                <% } else{ %>  
                  <td><%= diabetesData[i].testTimings %></td>
                <% } %>
                <td><%= diabetesData[i].testPregnancies %></td>
                <td><%= diabetesData[i].testGlucose %></td>
                <td><%= diabetesData[i].testBloodPressure %></td>
                <td><%= diabetesData[i].testSkinThickness %></td>
                <td><%= diabetesData[i].testInsulin %></td>
                <td><%= diabetesData[i].testBMI %></td>
                <td><%= diabetesData[i].testPedigreeFunction %></td>
                <% if(diabetesData[i].testDiabetesResult!==null){ %>
                  <td><button class="btn btn-secondary testBtn" disabled>Test</button></td>
                <% } else{ %>  
                  <td><button class="btn btn-success testBtn testDiabetesBtn" value="<%= diabetesData[i]._id %>">Test</button></td>
                <% } %>
                <!-- <td><button class="btn btn-success testBtn testDiabetesAnotherModelBtn" value="<%= diabetesData[i]._id %>">Test</button></td> -->
              </tr>
            <% } %>
          </table>
        </div>
      </div> 
    <% } %>

    <% if(heartData.length===0){ %>
      <div class="alert alert-info" role="alert" style="text-align:center">
        There are no heart records!
      </div>
    <% } else{ %> 
      <div class="row">
        <div class="col-12">
          <table id="heartDataContentTable" class="table">
            <thead class="thead-dark">  
              <tr>
                <td colspan="14" style="text-align:center;">
                  <b>Heart Test Data</b>
                </td>
              </tr>
              <tr style="text-align:center;">
                <th>Test no</th>
                <th>Date and Time</th>
                <th>Chest pain</th>
                <th>Trestbps</th>
                <th>Cholesterol</th>
                <th>Fbs</th>
                <th>Restecg</th>
                <th>Thalach</th>
                <th>Exang</th>
                <th>Oldpeak</th>
                <th>Slope</th>
                <th>Ca</th>
                <th>Thal</th>
                <th>HeartDisease Test Result</th>
              </tr>  
            </thead>
  
            <% for (var i =0; i < heartData.length;  i++ ) { %>
              <tr style="text-align:center;">
                <td><%= i+1 %></td>
                <% if(heartData[i].testTimings===""){ %>
                  <td><img src="/images/clock.png" alt="Yet to be done" class="clock"></td>
                <% } else{ %>  
                  <td><%= heartData[i].testTimings %></td>
                <% } %>
                <td><%= heartData[i].cp %></td>
                <td><%= heartData[i].trestbps %></td>
                <td><%= heartData[i].chol %></td>
                <td><%= heartData[i].fbs %></td>
                <td><%= heartData[i].restecg %></td>
                <td><%= heartData[i].thalach %></td>
                <td><%= heartData[i].exang %></td>
                <td><%= heartData[i].oldpeak %></td>
                <td><%= heartData[i].slope %></td>
                <td><%= heartData[i].ca %></td>
                <td><%= heartData[i].thal %></td>
                <% if(heartData[i].testHeartResult!==null){ %>
                  <td><button class="btn btn-secondary testBtn" disabled>Test</button></td>
                <% } else{ %>
                  <td><button class="btn btn-success testBtn testHeartBtn" value="<%= heartData[i]._id %>">Test</button></td>
                <% } %>
              </tr>
            
            <% } %>
          </table>
        </div>
      </div>
    <% } %>
    <i class="fa-solid fa-left-long-to-line"></i>
    <div class="modal fade bd-example-modal-lg loader" data-backdrop="static" data-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-sm loadingModal">
          <div class="modal-content loadingContent">
              <span class="fa fa-spinner fa-spin fa-3x" style="color: skyblue;"></span>
              
              <div class="alert alert-info" role="alert">Please wait while we are testing your data!!</div>
          </div>
      </div>
    </div>

  </body> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
   <script src="/js/@truffle/contract/dist/truffle-contract.js"></script>
   
</html>
